@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .no-scroll-theme {

    }

    .no-scroll-theme::-webkit-scrollbar {
        display: none;
    }

    .prime-scroll-theme {

    }

    .prime-scroll-theme::-webkit-scrollbar {
        @apply w-2
    }

    .prime-scroll-theme::-webkit-scrollbar-thumb {
        @apply rounded-full bg-blue-400
    }

    .overscroll-y-none {
        overscroll-behavior-y: none;
    }

    .tooltip {
        padding: 0 1rem !important;
        border-radius: 1rem !important;
    }

    @variants dark {

    }
}
