@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .no-scroll-theme {

    }

    .no-scroll-theme::-webkit-scrollbar {
        display: none;
    }

    .prime-scroll-theme {

    }

    .prime-scroll-theme::-webkit-scrollbar {
        @apply w-2
    }

    .prime-scroll-theme::-webkit-scrollbar-thumb {
        @apply rounded-full bg-blue-400
    }

    .overscroll-y-none {
        overscroll-behavior-y: none;
    }

    .bg-l-mask {
        background: linear-gradient(65deg, transparent, white 80%);
    }

    .bg-r-mask {
        background: linear-gradient(105deg, white 20%, transparent);
    }

    .tooltip {
        padding: 0 1rem !important;
        border-radius: 1rem !important;
    }

    @variants dark {

    }
}
